@import "tailwindcss";
@theme {
  --color-primary-green: #00D177;
  --color-primary-purple: #4E079D;
  --color-primary-blue: #2970CF;
  --color-primary-black: #020202;
  --color-secondary-green-extradark: #00210F;
  --color-secondary-green-dark: #043112;
  --color-secondary-green: #0a3516;
  --color-secondary-green-mid: #16A05B;
  --color-secondary-green-light: #D2F6EC;
  --color-secondary-purple-dark: #27025B;
  --color-secondary-purple-light: #F1DDFF;
  --color-secondary-blue-dark: ##113A6B;
  --color-secondary-blue-light: #A8DCFF;
  --font-poppins: Poppins, sans-serif;
  --font-oswald: "Oswald Variable", sans-serif;
}
/* poppins-latin-300-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-300-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-300-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* poppins-latin-400-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-400-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* poppins-latin-500-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-500-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-500-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* poppins-latin-600-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-600-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* poppins-latin-800-normal */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-800-normal.woff2) format('woff2'), url(https://cdn.jsdelivr.net/fontsource/fonts/poppins@latest/latin-800-normal.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
html {
  scroll-behavior: smooth;
}
@layer components {
  body {
    @apply text-primary-black font-poppins;
  }
  button {
    @apply block px-5 py-2 lg:px-6 lg:py-3 rounded-4xl text-xl font-normal transition-all hover:scale-105 cursor-pointer;
  }
  section{
    @apply px-5 xl:px-0;
  }
  .btn-primary {
    @apply bg-primary-green hover:bg-primary-green/75 text-secondary-green-extradark;
  }
  .btn-secondary {
    @apply border border-primary-green text-primary-green hover:bg-primary-green/10;
  }
  .btn-xl {
    @apply xl:text-3xl px-10 py-5 rounded-full;
  }
  .pill{
    @apply inline-flex items-center px-5 py-2 rounded-full text-sm text-pretty bg-secondary-green-light text-secondary-green-extradark font-medium;
  }
  .header {
    @apply bg-secondary-green-mid 2xl:bg-none 2xl:absolute top-0 left-0 w-full px-2 2xl:px-0;
    nav{
      @apply flex justify-center lg:justify-start 2xl:max-w-4/5 lg:max-w-11/12 mx-auto pt-2 2xl:pt-0 2xl:mt-20;
    }
    img {
      @apply h-7;
    }
  }
  /* Hero */
  .hero {
    @apply bg-gradient-to-b from-secondary-green-mid to-secondary-green-dark from-20% text-white h-dvh flex flex-col;
  }
  .hero-logo {
    @apply w-full px-5 lg:px-0 lg:w-full lg:max-w-11/12 2xl:max-w-4/5 h-1/12 flex items-end justify-center lg:justify-start mx-auto;
    img {
      @apply h-7;
    }
  }
  .hero-container {
    @apply h-11/12 lg:w-full lg:max-w-11/12 2xl:max-w-4/5 mx-auto grid xl:grid-cols-2 xl:gap-x-10 gap-y-4 items-center;
  }
  .hero-text {
    @apply xl:flex flex-col justify-center 2xl:gap-y-12 text-left h-full;
    h2 {
      @apply text-3xl md:text-4xl 2xl:text-6xl font-semibold leading-tight text-balance;
    }
  }
  .hero-copy {
    @apply text-base md:text-lg lg:text-2xl leading-tight text-balance mt-4 mb-6;
    a {
      @apply text-primary-green hover:text-primary-green/75 transition-colors underline underline-offset-4;
    }
  }
  .hero-cta {
    @apply flex flex-col md:flex-row my-5 md:my-0 md:pb-5 2xl:mb-0 gap-5;
  }
  .hero-form {
    @apply bg-white text-gray-800 py-3 px-4 md:p-6 rounded-2xl shadow-lg xl:ml-10;
    h3 {
      @apply text-xl font-semibold mb-7;
    }
  }
  .form-grid {
      @apply md:grid grid-cols-2 gap-x-10;
      input, textarea, select {
         @apply w-full px-4 py-2 bg-gray-200 mt-1 mb-4 md:mb-6 rounded-2xl focus:outline-none focus:ring-2 focus:ring-primary-green text-[0.75rem];
       }
       label {
         @apply block text-base md:text-sm font-medium text-gray-700;
       }
       button {
        @apply my-2
       }
       .form-button{
        @apply flex items-center justify-center xl:items-end;
       }
    }

  /* Partners */
  .partners {
    @apply pt-2 md:pt-10;
  }
  .partners-logos{
    @apply grid grid-cols-2 gap-y-3 sm:gap-y-3 xl:gap-y-10 sm:grid-cols-6 text-center max-w-7xl mx-auto items-center;
    div{
      @apply flex w-full items-center justify-center h-16 overflow-hidden
    }
    img {
     @apply brightness-150 w-9/12  md:object-cover;
    }
    .logos-chaparros{
      @apply max-h-10;
    }
  }
  .partners-header {
    @apply max-w-7xl mx-auto mt-5 mb-6 md:my-10;
  }
  .partners-info {
    @apply grid grid-cols-3 gap-4 sm:gap-8 max-w-7xl mx-auto;
    h3{
      @apply text-2xl font-semibold mb-6 text-pretty;
    }
  }
  .partners-fix {
    @apply grid grid-cols-3 md:hidden my-10;
    h3{
      @apply text-2xl font-semibold mb-6 text-pretty;
    }
  }
  .partners-content{
    @apply col-span-3 md:col-span-2
  }
  .partners-phone-img {
    @apply md:max-w-5/6 lg:max-w-3/4;
  }
  .partners-bento {
    @apply md:grid md:grid-cols-3 gap-3;

  }
  .partners-bento-item {
    @apply p-4 bg-gray-100 rounded-2xl mt-2 md:mt-0;
    h4 {
      @apply text-lg font-semibold my-2;
    }
    p {
      @apply text-sm font-light leading-tight mb-4;
    }
  }
  .partners-footer {
    @apply max-w-7xl mx-auto mt-10 md:grid grid-cols-3 pb-10 md:pt-10;
    :first-child {
      @apply md:col-span-2 flex items-center;
    }
    p {
      @apply mb-10 text-3xl leading-tight font-semibold text-pretty
    }
    :last-child {
      @apply mt-2 md:mt-0 flex items-center justify-end md:justify-center;
      button {
        @apply md:text-xl;
      }
    }
  }
  /* What is it?! */

  .what-is {
    @apply bg-secondary-green-extradark text-white pt-14 md:pt-10 pb-10 xl:pb-32;
  }
  .what-is-header {
    @apply max-w-7xl mx-auto;
    h2 {
      @apply text-3xl font-semibold;
    }
  }
  .what-is-video {
    @apply max-w-7xl mx-auto my-8 mt-6;
    iframe {
      @apply w-full xl:w-4/5 mx-auto aspect-video rounded-2xl;
    }
  }
  .what-is-content{
    @apply max-w-7xl mx-auto;

  }
  .what-is-contact{
    @apply xl:mt-18;
  }
  .what-is-lead {
    @apply text-3xl md:text-4xl md:max-w-2/3 leading-tight font-semibold text-pretty;
    span {
      @apply text-primary-green;
    }
  }
  .what-is-steps {
    @apply grid grid-cols-1 sm:grid-cols-3 gap-6 my-10;
  }
  .what-is-step {
    @apply p-4 bg-secondary-green rounded-2xl;
  }
  .what-is-number {
    @apply text-lg font-semibold mb-2 bg-secondary-green-light rounded-full size-8 flex items-center justify-center text-secondary-green-extradark
  }
  .what-is-contact{
    @apply md:grid grid-cols-2 max-w-7xl mx-auto;
  }

  /* Success */
  .success {
    @apply max-w-7xl mx-auto mt-10;
    h3 {
      @apply my-10 text-3xl md:max-w-1/2 leading-tight font-semibold text-pretty;
    }
  }
  .success-cards {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-6;
    img {
      @apply min-w-32 brightness-0;
    }
    p {
      @apply text-base font-light leading-relaxed;
    }
  }
  .success-allies{
    @apply max-w-7xl mx-auto mt-10;
  }
  .success-allies-logos{
    @apply bg-gray-200 py-5 px-5 md:py-10 md:px-5 rounded-3xl flex items-center ;
    div {
      @apply grid grid-cols-4 gap-x-6 md:gap-x-12 gap-y-5 w-full text-center;
      article {
        @apply flex items-center justify-center;
      }
    }
    img {
      @apply max-h-14 brightness-0;
    }
  }
  /* Join us */
  .join-us {
    @apply max-w-7xl mx-auto my-20 flex flex-col md:flex-row flex-wrap justify-between items-end;
    h3 {
      @apply mb-10 text-3xl md:max-w-1/2 leading-tight font-semibold text-pretty;
    }
    button {
      @apply md:text-xl;
    }
  }

  /* Footer */
  .footer {
    @apply bg-black text-white py-10;

    a {
      @apply text-white hover:text-primary-green transition-colors;
    }
  }
  .footer-logo {
    @apply w-full md:w-2/6 flex flex-col items-center gap-6;
    img {
      @apply h-6 mr-2;
    }
  }
  .footer-content {
      @apply md:max-w-7xl px-5 mx-auto flex flex-col md:flex-row justify-between items-start md:items-center gap-10;
    }
  .footer-socials {
    @apply flex gap-4 mt-4;
    img {
      @apply size-8 invert;
    }
  }
  .footer-links {
    @apply w-4/6 flex flex-col gap-2 ;
    ul {
      @apply w-full flex flex-col justify-between lg:flex-row gap-5;
    }
  }
  .footer-links-bottom {
    @apply w-full flex flex-col gap-2;
  }
  .footer-app {
    @apply max-w-7xl mx-auto flex justify-end flex-col lg:flex-row items-center gap-6 my-6;
    img {
      @apply h-8 inline-block;
    }
  }
  .footer-copyright {
    @apply max-w-7xl px-5 mx-auto flex flex-col justify-end lg:flex-row gap-5 mt-5;
  }
}
